{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add address</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_address.css' %}"/>
</head>
<body><br><br><br>
    <form method="post" class="center">
            <input type="text" name="city" placeholder="Miasto" required><br>
            <input type="text" name="street" placeholder="Ulica" required><br>
            <input type="text" name="house_number" placeholder="Numer domu" pattern="\d{0,5}" required><br>
            <input type="text" name="flat_number" placeholder="Numer mieszkania" pattern="\d{0,4}\w{0,3}"><br><br>
            <button type="submit" class="button">Dodaj</button><br><br><br>
        {% csrf_token %}
    </form>

    <div class="center">
        <a href="/main/" class="button">Powrót na stronę główną</a>
    </div>

</body>
</html>