{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_address.css' %}"/>
</head>
    <body><br><br><br>
        <form method="post" class="center">

            <select name="group_name_list">
                {% for counter in groups_all %}
                    <option value={{counter.id}}> Nazwa: {{counter.group_name}} </option>
                {% endfor %}
            </select><br><br>


            <input type="search" name="search" placeholder="Wpisz imię lub nazwisko"> <br><br>
            <button type="submit">Szukaj</button><br><br><br>
            {% csrf_token %}
        </form>

        <div class="center">
            <a href="/main/" class="button">Powrót na stronę główną</a>
        </div>

    </body>
</html>